$bg: #0f0f0f;
$bg-alt: #191919;
$fg: #f0f0f0;
$fg-alt: #cacaca;
$black: #262626;
$gray: #4c4c4c;
$dark-gray: #313244;
$red: #dd6777;
$dark-red: #91444e;
$darker-red: #53262c;
$green: #a6e3a1;
$dark-green: #1db954;
$yellow: #ceb188;
$blue: #a39ec4;
$blue-gray: #a6adc8;
$magenta: #c49ec4;
$cyan: #9ec3c4;
$pink: #cba6f7;
$dark-pink: #ac74ac;
$darker-pink: #3d293d;
$purple: #803dc0;
$dark-purple: #582c81;
$white: $fg;

tooltip {
  font-family: "SF Pro";
  font-weight: 500;
  font-size: 1rem;
  color: $fg-alt;
  background-color: $bg;
  border: 3px solid $bg;
  border-radius: 0.5rem;
}

@import "./bar/eww.scss";
@import "./player/eww.scss";
@import "./powermenu/eww.scss";
@import "./notifications/eww.scss";
@import "./volume/eww.scss";